*{
  font-family: monospace;
}
body{
  background:#000;
  color:#00ff88;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.box{
  border:2px solid #00ff88;
  padding:25px;
  width:350px;
  box-shadow:0 0 20px #00ff88;
}
h1{
  text-align:center;
  margin-bottom:15px;
}
label{
  font-size:12px;
}
input{
  width:100%;
  background:black;
  border:1px solid #00ff88;
  color:#00ff88;
  padding:8px;
  margin:8px 0;
}
.outbox{
  border:1px dashed #00ff88;
  padding:10px;
  margin-top:10px;
  position:relative;
}
button{
  position:absolute;
  right:8px;
  top:8px;
  background:#00ff88;
  border:none;
  cursor:pointer;
}
.ver{
  text-align:center;
  font-size:10px;
  margin-top:15px;
  opacity:0.7;
}
